.container {
    font-family: 'Poppins', sans-serif;
}
body, html {
    background-color: #EBEFF0;
    color: white;
}
/* CELULAR */
@media (min-width:480px) {
    .cardlogin {
        height: 100vh;
    }

    .container {
        width: 100vh !important;
        height: 100vh !important;
    }
}

/* PC */
@media (min-width:801px) {
    .cardlogin {

    }
}

.cardlogin {
    background-color: #9F3FF4;
    margin-top: 15px;
    border-radius: 10px;
}

.cardheader {
    text-align: center;
    margin-top: 50px;
}

#icone {
    font-size: 123px;
    margin-bottom: 20px;
}

input {
    color: white;
    border-bottom: 1px solid white !important;
}

span {
    color: white;
}

.cardbody {
    margin-top: 30px;
}

#buttonsubmit {
    margin-top: 50px;
}